
.App {
    font-family: sans-serif;
    text-align: center;
  }
  .error {
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h3 {
    color: red;
    font-family: normal;
    font-size: 1.5rem;
    padding-top: 2rem;
  }
  li {
    color: green;
    font-family: normal;
  }
  h4 {
    color: salmon;
  }
  .contact {
    background-color: purple;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }